@use 'base/variables' as v;
@use 'base/mixins' as m;

.form {
    margin-top: v.$gap;
    width: 100%;
}

.field {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label {
        flex: 0 0 10rem;
    }

    input {
        flex: 1;
        border: none;
        padding: calc(v.$gap / 4);
        border-radius: 1rem;
        background-color: darken(v.$white, 18%);
        &:disabled {
            background-color: v.$primary;
            color: v.$text;
            cursor: not-allowed;
        }
    }

    textarea {
        padding: 1rem;
        border: none;
        display: block;
        width: 100%;
        background-color: darken(v.$white, 18%);
        border-radius: 1rem;
        margin-bottom: 2rem;
    }

    .filter {
        background-color: v.$primary;
    }
}