// Fuentes
$main-font: 'Poppins', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$blue: #0da6f3;
$red: #cb0000;
$green:#329f00;
$black-color: #1a1b15;

$white: #FFFFFF;
$gray: #e1e1e1;

$gap: 5rem;

// Fuentes
$thin: 300;
$regular : 400;
$bold: 700;
$black-font: 900