// Fonts
$main-font: 'Poppins', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$main: #636932;
$secondary: #8d6b2b;
$white: #FFFFFF;
$dark: #221906;
$light: #e2e1b5;
$tertiary: #595a16;


// Colors-Alerts
$red: #FFF82E;
$green:#329f00;


$gap: 5rem;

// Fuentes
$thin: 300;
$regular : 400;
$bold: 700;
$black-font: 900