@use 'base/variables' as v;
@use 'base/mixins' as m;

.activities-list {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    
    @include m.tablet{
        @include m.grid(2, 2rem);
    }
    
    .activity {
        align-items: center;
        // background-color: v.$primary;
        background-color: darken(v.$white, 18%);
        border: 3px solid v.$primary;

        padding: 2rem;
        border-radius: 1rem;
        transition: transform 300ms;
        text-align: center;

        &:hover {
            transform: scale(1.1);
        }

        p {
            margin: 0 0 calc(v.$gap/4) 0;
            color: v.$text;
        }

        .activity-price {
            color: v.$secondary;
            font-weight: v.$bold;
            font-size: 3rem;
            margin: 0;
        }

        .activity-name {
            color: v.$text;
            font-weight: v.$bold;
            font-size: 2rem;
            margin: 0;
        }

        .activity-description {
            color: v.$text;
            font-weight: v.$regular;
            font-size: 1.5rem;
            margin-top: 0.5rem;
        }

        &.selected {
            // background-color: v.$accent;
            background-color: v.$primary;

            p {
                color: v.$text;
            }
            .activity-price {
                color: v.$secondary;
            }
        }
    }
}