@use 'base/variables' as v;
@use 'base/mixins' as m;

.app-container {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .image {
        height: 20rem;
        background-image: url('../img/main.png');
        background-size: cover;
        background-position: center center;
        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet {
            overflow-y: scroll;
        }
    }

    .bar {
        margin-bottom: v.$gap 0;
        text-align: center;
        
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .button{
            @include m.button(v.$background, v.$text);
            margin: 0;
        }
        span{
            font-weight: v.$bold;   
            color: v.$secondary;
        }
    }

    /* Hide scrollbar for webkit-based browsers */
    ::-webkit-scrollbar {
        display: none;
    }

}
